body {
    background-image: url("assets/erda-estremera-0ZxdAGG4aWU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;


}